@model ProgramaEstoque.Models.ClientePedidoModel

@{
    ViewData["Title"] = Model.Cliente.Nome;
}




<div class="container text-center">
    <div class="row">
        <div class="col-12">
            <h2>Cliente: @Model.Cliente.Nome</h2>
            <h2> Valor: R$@Model.Cliente.ValorTotal</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <table class="table">
                <thead>
                    <tr>
                        <td>Nome do Produto</td>
                        <td>Quantidade</td>
                        <td>Valor do Produto</td>
                        <td>Valor Total</td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var pedido in Model.Pedidos)
                    {
                        <tr>
                            <td>@pedido.NomeProduto</td>
                            <td>@pedido.Quantidade</td>
                            <td>@pedido.ValorProduto</td>
                            <td>@pedido.ValorProdutoTotal</td>
                            <td>
                                <div role="group" class="btn-group">
                                    <form asp-controller="Pedido" asp-action="ConfirmarRemover">
                                        <input type="hidden" name="cd_pedido" value="@pedido.Id" />
                                        <input type="hidden" name="cd_cliente" value="@Model.Cliente.Id" />
                                        <button type="submit" class="btn btn-danger">Remover</button>
                                    </form>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <form asp-controller="Pagamento" asp-action="Index">
                <input type="hidden" name="id_cliente" value="@Model.Cliente.Id" />
                <button type="submit" class="btn btn-primary">Pagamentos Realizados</button>
            </form>
        </div>
        <div class="col-6">
            <form asp-controller="Pagamento" asp-action="Pagamento">
                <input type="hidden" name="id_cliente" value="@Model.Cliente.Id" />
                <button type="submit" class="btn btn-primary">Realizar Pagamento</button>
            </form>
        </div>
    </div>
</div>